[push]
	default = matching
[core]
	autocrlf = input
	excludesfile = ~/.dotfiles/.gitignore_global
[color]
	diff = auto
	status = auto
	branch = auto
	ui = true
[alias]
	a = add
	aa = add --all
	aliases = !git config --list | grep 'alias.' | sed 's/^alias.//' | sed 's/=/ => /'
	amend = commit --amend
	br = branch
	ci = commit -a
	co = checkout
    curb = branch --show-current
	graph = log --graph --pretty=format:'%C(yellow)%h%C(reset) -%C(cyan)%d%C(reset) %s %Cgreen(%cr) %C(bold blue)<%an>%C(reset)' --abbrev-commit --date=relative
	last = log -1 HEAD
	lg = log --stat --relative-date
    # The ! runs the entire string as a shell command allowing us to use the nested git commands.
	pushup = !git push -u origin $(git branch --show-current)
	reset = checkout --
	st = status
	unstage = reset HEAD --
[apply]
   whitespace = nowarn
[mergetool]
  keepBackup = false
[pull]
  rebase = false
[help]
	autocorrect = 1
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[user]
    # This key doesn't exist, causing commits to fail
    # The value should be set appropriately in the .gitconfig.local file.
    signingkey = invalid-key-does-not-exist-00000000
	name =
	email =
[commit]
	# Force signing by default.
	gpgsign = true
[gpg]
    # Use GPG2 by default. Full path so GUI apps (e.g. VS Code) that don't inherit shell PATH still work.
	program = /usr/local/MacGPG2/bin/gpg2
[include]
  # Use local .gitconfig.local file for overrides that don't belong in the public repo.
  # Include should always be last so local can override any config value.
  path = ~/.dotfiles/.gitconfig.local
[init]
	defaultBranch = main
