[push]
	default = matching
[core]
	autocrlf = input
	excludesfile = ~/.dotfiles/.gitignore_global
[color]
	diff = auto
	status = auto
	branch = auto
	ui = true
[alias]
	a = add
	aa = add --all
	aliases = !git config --list | grep 'alias.' | sed 's/^alias.//' | sed 's/=/ => /'
	amend = commit --amend
	br = branch
	ci = commit -a
	co = checkout
	graph = log --graph --pretty=format:'%C(yellow)%h%C(reset) -%C(cyan)%d%C(reset) %s %Cgreen(%cr) %C(bold blue)<%an>%C(reset)' --abbrev-commit --date=relative
	last = log -1 HEAD
	lg = log --stat --relative-date
	st = status
	reset = checkout --
	unstage = reset HEAD --
[apply]
   whitespace = nowarn
[mergetool]
  keepBackup = false
[pull]
  rebase = false
[help]
	autocorrect = 1
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[user]
    # This key doesn't exist, causing commits to fail
    # unless there's an appropriate override.
    signingkey = NO-KEY-SET--DEFINE-KEY-OR-IDENTITY-IN-DOTFILES-gitconfig.local
[commit]
	# Force signing across all machines.
	gpgsign = true
[gpg]
    program = gpg
[include]
  # Include should always be last so local can override any config value.
  path = ~/.dotfiles/.gitconfig.local
